In [1]:
# Load the extension
%load_ext sql

# Connect to an in-memory SQLite database
%sql sqlite://

In [2]:
import pandas as pd
import sqlite3

# Load the dataset
df = pd.read_csv("unwto_cleaned_long.csv")

# Push the DataFrame to the SQL environment
import sqlite3
conn = sqlite3.connect(":memory:")
df.to_sql("tourism.db", conn, index=False, if_exists="replace")

20015

In [3]:
# Connect SQL magic to the same SQLite database
%sql sqlite:///:memory:

In [4]:
# Bind the SQLite connection to SQL magic
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
df.to_sql('tourism.db', con=engine, index=False, if_exists='replace')

20015

In [5]:
# SQL Queries
%%sql
SELECT COUNT(*) AS total_rows, COUNT(DISTINCT Country) AS unique_countries FROM tourism.db;

SyntaxError: Invalid star expression (1862577083.py, line 3)

In [6]:
%%sql
SELECT DISTINCT Indicator FROM tourism.db;

   sqlite://
 * sqlite:///:memory:
(sqlite3.OperationalError) no such table: tourism.db
[SQL: SELECT DISTINCT Indicator FROM tourism.db;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)